{% extends 'sha_main/base.html' %}
{% load static %}
{% block main %}

<link rel="stylesheet" type="text/css" media="screen" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css" />

{% if add_error > 0 %}
<div class="alert alert-danger">
    <span class="glyphicon glyphicon-remove"></span>
    <strong>
        {% if add_error == 1 %}
        Invalid start/stop date.
        {% elif add_error == 2 %}
        Invalid or empty location.
        {% elif add_error == 3 %}
        Invalid event's name.
        {% elif add_error == 4 %}
        Something's wrong with sql statement.
        {% endif %}
    </strong>
</div>
{% endif %}

<form class="form-horizontal" method="post">{% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label_tag }}</label> {{ field }}
                </div>
                {% endfor %}

                <div style="margin-left:-15px" class="container">
                    <label style="margin-left:-15px" for="start_date">Start date: </label>
                    <div class="row"> <div class='col-sm-2'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" style="width:180px;" id="start_date"
                                       data-format="dd/MM/yyyy hh:ii" name="start-date" />
                                <span class="input-group-addon"><span class="glyphicon-time glyphicon"></span>
                                </span>
                            </div>
                        </div>
                    </div> </div>
                    <label style="margin-left:-15px" for="start_date">Stop date: </label>
                    <div class="row"> <div class='col-sm-2'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" style="width:180px;" id="stop_date"
                                       data-format="dd/MM/yyyy hh:ii" name="stop-date" />
                                <span class="input-group-addon"><span class="glyphicon-time glyphicon"></span>
                                </span>
                            </div>
                        </div>
                    </div> </div>
                    <div style="margin-left:-15px">
                        <label for="hashtag-tokenfield">Hash tags (separated by comma ','):</label>
                        <input type="text" name="hashtags" class="form-control" id="hashtag-tokenfield" style="width:210px" />

                        <br/>
                        <button type="submit" class="btn btn-primary">
                            Add event
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        Latitude: <input id="latitude" style="width:200px" class="form-control" name="latitude" readonly>
                    </div>
                    <div class="col-md-6">
                        Longitude: <input id="longitude" style="width:200px" class="form-control" name="longitude" readonly>
                    </div>
                </div>

                <br/>
                <input id="pac-input" class="controls lock-enter-submit" style="margin:10px; height:34px" type="text"
                       placeholder="Enter address">

                <div id="map-canvas" style="height: 400px; width: 600px"></div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
$(function() {
    $('#datetimepicker1').datetimepicker({
      'format': 'DD/MM/YYYY HH:mm'
    });
    $('#datetimepicker2').datetimepicker({
      'format': 'DD/MM/YYYY HH:mm'
          });
});
Date.prototype.toDateInputValue = (function() {
    var local = new Date(this);
    return local.getDate() + "/"
                + (local.getMonth()+1)  + "/"
                + local.getFullYear() + " "
                + local.getHours() + ":"
                + local.getMinutes();
});
var dd = new Date();
dd.setDate(dd.getDate() + 1);
$('#start_date').val(dd.toDateInputValue());
dd.setHours(dd.getHours() + 1);
$('#stop_date').val(dd.toDateInputValue());

$('input.lock-enter-submit').keydown(function(e) {
  if(e.keyCode == 13) {
    return false;
  }
});

$('#hashtag-tokenfield').tokenfield({
  autocomplete: {
    source: [
    {% for autohash in autocomplete_hashes %}'{{autohash.name}}',{% endfor %}],
    delay: 100
  },
    showAutocompleteOnFocus: true
});
$('#hashtag-tokenfield').on('tokenfield:createtoken', function (event) {
    var existingTokens = $(this).tokenfield('getTokens');
    $.each(existingTokens, function(index, token) {
        if (token.value === event.attrs.value)
            event.preventDefault();
    });
});

</script>

<script type="text/javascript" src="{% static "bootstrap/js/moment.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap-datetimepicker.js" %}"></script>

{% endblock %}
