{% extends 'sha_main/base.html' %}

{% block main %}

Nearest events:
{% for event in nearest_events %}
<div class="short-event">
    <span class="header" style="float:left">{{ event.name }}</span>
    <span style="float:right">
        {% for hash_tag in event.hash_tags.all %}
        <button type="button" class="btn btn-primary hash-btn">{{hash_tag.name}}</button>
        {% endfor %}
    </span>
    <div style="clear:both"></div>
    <blockquote><span style="font-size:12px">
        <i>{{event.start_date}}</i> <br />
        {{event.description}}</span></blockquote>
</div>
{% endfor %}

{% endblock %}
