{% extends 'sha_main/base.html' %}

{% block main %}

<div class="row">
  <div class="col-md-6">
Nearest events:
{% for event in nearest_events %}
<div class="short-event">
    <span class="header" style="float:left"><a href="/event/{{event.id}}">{{ event.name }}</a></span>
    <span style="float:right">
        {% for hash_tag in event.hash_tags.all %}
        <button type="button" class="btn btn-primary hash-btn">{{hash_tag.name}}</button>
        {% endfor %}
    </span>
    <div style="clear:both"></div>
    <blockquote><span style="font-size:12px">
        <i>{{event.start_date}} &bull; added by <a href="/user/{{event.creator.id}}">{{event.creator}}</a></i><br />
        {{event.description}}</span></blockquote>
</div>

{% endfor %}
      </div>

    <div class="col-mnd-6">
        <div id="main-map-canvas" style="height: 400px; width: 600px"></div>
    </div>
    </div>
{% endblock %}
