{% extends 'sha_main/base.html' %}

{% block main %}
<div style="padding-top:50px">
    <p>
        {% if user and not user.is_anonymous %}
    <div class="alert alert-danger" style="width:300px;margin:0 auto">
    <span class="glyphicon glyphicon-remove"></span><strong> You are already logged in.</strong>
</div>
        {% else %}

    <div class="container" style="width:600px">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li
            {% if user_created < 2 %} class="active" {% endif %}>
            <a href="#signin" data-toggle="tab">Sign in</a>
            </li>
            <li
            {% if user_created >= 2 %} class="active" {% endif %}>
            <a data-toggle="tab" href="#signup">Create account</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade {% if user_created < 2 %} in active {% endif %}" id="signin">
                {% include "sha_auth/signinform.html" %}
            </div>
            <div class="tab-pane fade {% if user_created >= 2 %} in active {% endif %}" id="signup">
                {% include "sha_auth/signupform.html" %}
            </div>
        </div>
    </div>
    {% endif %}
    </p>
</div>

{% endblock %}


