{% extends 'sha_auth/base.html' %}

{% block main %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sha.re</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li style="color:white;margin:10px 15px">Search event: <input></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div style="padding-top:50px">
    <p>
        {% if user and not user.is_anonymous %}
        <a>Hello {{ user.get_full_name|default:user.username }}!</a><br/>
        <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
        {% else %}

    <div class="container" style="width:600px">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li
            {% if user_created < 2 %} class="active" {% endif %}>
            <a href="#signin" data-toggle="tab">Sign in</a>
            </li>
            <li
            {% if user_created >= 2 %} class="active" {% endif %}>
            <a data-toggle="tab" href="#signup">Create account</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade {% if user_created < 2 %} in active {% endif %}" id="signin">
                {% include "sha_auth/signinform.html" %}
            </div>
            <div class="tab-pane fade {% if user_created >= 2 %} in active {% endif %}" id="signup">
                {% include "sha_auth/signupform.html" %}
            </div>
        </div>
    </div>
    {% endif %}
    </p>
</div>

{% endblock %}


