<h2 class="form-signin-heading">Sign in</h2>
{% if user_created == 1 %}
<div class="alert alert-success">
    <strong><span class="glyphicon glyphicon-ok"></span> User registered!</strong>
</div>
{% endif %}
<div class="container">
    {% if user_signin > 0 %}
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-remove"></span><strong> Invalid username or password.</strong>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-2">
            <h3>Sha.re account</h3>
            <form class="form-signin" role="form" method="POST">{% csrf_token %}
                <input class="form-control" placeholder="Username" required autofocus
                       style="margin-bottom:10px" name="username">
                <input type="password" class="form-control" placeholder="Password" required name="password">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" name="remember_me"> Remember me
                </label>
                <input type="hidden" name="signinform" value="1">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <div class="col-md-10">
            <h3>Sign in by 1 click!</h3> <br/>
            <button type="button"
                    onClick="location.href='{% url 'socialauth_begin' 'facebook' %}?next={{ request.path }}'"
                    class="facebook-login-btn social-login-btn btn btn-primary">Facebook
            </button>
            <br/>
            <button type="button"
                    onClick="location.href='{% url 'socialauth_begin' 'google-oauth2' %}?next={{ request.path }}'"
                    class="googleplus-login-btn social-login-btn btn btn-primary">Google
            </button>
            <br/>
            <button type="button"
                    onClick="location.href='{% url 'socialauth_begin' 'twitter' %}?next={{ request.path }}'"
                    class="twitter-login-btn social-login-btn btn btn-primary">Twitter
            </button>
            <br/>
        </div>
    </div>
</div>